.site-container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px 20px;
  margin-top: 20px;
}

.row {
  padding: 20px 20px;
  margin: 10px !important;
}

h1.inner-text {
  text-align: center;
  font-size: 60px;
  margin: 30px auto;
}

h3 {
  color: blue;
}

.share-pic {
  text-align: center;
}

.nobuy-pic {
  margin: 10px auto;
  max-width: 80%;
}

.inner-text {
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 10px;
  font-size: 55px;
  color: white;
  border: 1px white;
  background: darkblue;
}

.share-navbar {
  background-color: darkblue;
}

.information {
  font-size: 30px;
}

.nav-link {
  text-align: center;
  color: white;
  font-weight: 500;
}

.button {
  background-color: darkblue;
  text-align: center;
  font-size: 20px;
  margin: 0px;
  width: 200px;
  height: 125px;
  padding: 20px;
  border: 1px solid black;
}

.a-tag {
  color: white;
  font-weight: 500;
}

.a-tag:hover {
  color: blue;
  text-decoration: none;
}

.a-card {
  text-decoration: none;
  color: inherit;
}

.a-card:hover {
  text-decoration: none;
  color: inherit;
}

.card:hover {
  background: skyblue;
}

#category-title {
  padding: 25px;
}

.category-item-card {
  min-width: 18rem;
  max-width: 18rem;
}

a.btn {
  appearance: button;
  background-color: white;
  border: 1px solid black;
  color: initial;
  margin: 1px;
  padding: 20px;
  text-decoration: none;
  width: 100%;
  white-space: normal;
}

a.btn:hover {
  background-color: lightskyblue;
}

a.btn:active {
  background-color: lightblue;
}

#availability {
  margin-left: 200px;
  border: 1px solid black;
  padding: 10px;
}

.logo {
  padding-left: 250px;
  color: white;
  text-shadow: 1px 2px dodgerblue;
  font-size: 20px;
  margin-top: -84px;
  margin-bottom: -80px;
}

/* #bgImg1 {
  background-image: url("http://guigaoliveira.me/wp-content/uploads/2018/03/bold-and-modern-target-living-room-furniture-table-at.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%
} */

/* #bgImg2 {
  background-image: url("https://secure.meetupstatic.com/photos/event/b/4/a/8/highres_439726248.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%
} */

#bgImg3 {

}
