.container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px 20px;
  margin-top: 40px;
}

.row {
  padding: 30px 30px;
  margin: 20px !important;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 30px auto;
  color: blue;
}

.share-pic {
  text-align: center;
}

.nobuy-pic {
  margin: 10px auto;
  max-width: 80%;
}

.inner-text {
  border: 2px solid black;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 10px;
  font-size: 55px;
}

.share-navbar {
  background-color: white;
  border: 2px solid black;
}

.information {
  font-size: 35px;
}

.nav-link {
  text-align: center;
}

.button {
    background-color: white;
    text-align: center;
    font-size: 20px;
    border: 2px solid blue;
    outline-style: solid;
    outline-color: invert;
    margin: 0px;
    width: 200px;
    height: 100px;


}